/* CSS Styles */
body {
  background-color: #0c0c0d;
  font-family: "Times New Roman", Times, serif;
  color: #ffffff;
  font-size: 14px;
}

.main-container {
  display: grid;
  grid-template: 1fr 400px 400px 1fr;
  grid-template-areas: ". left right .";
  place-items: center;
  min-height: 100vh;
  min-width: 100vh;
}

.gif-container {
  grid-area: left;
}

.links-container {
  grid-area: right;
}

.gif img {
  max-height: 400px;
  max-width: auto;
}

a:link {
  text-decoration: none;
  color: #f9f9fa;
}

a:visited {
  color: inherit;
}

a:hover {
  color: #d70022;
}

.blinking {
  animation: opacity 1s ease-in-out infinite;
  opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
